pipeline/UpdateDataHired_employees.json
{
	"name": "UpdateDataHired_employees",
	"properties": {
		"activities": [
			{
				"name": "Set DateTime Execution",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "LastFileDateTime",
					"value": {
						"value": "@formatDateTime(utcNow(), 'yyyyMMdd_HHmmss')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy Bronze layer",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set File Execution",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_StagingCsvFiles",
						"type": "DatasetReference",
						"parameters": {
							"File_System": {
								"value": "@variables('FileSystem')",
								"type": "Expression"
							},
							"Directory": "initial",
							"File_Name": {
								"value": "@concat(variables('FileName'), '.csv')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_StagingCsvFiles",
						"type": "DatasetReference",
						"parameters": {
							"File_System": {
								"value": "@variables('FileSystem')",
								"type": "Expression"
							},
							"Directory": "bronze",
							"File_Name": {
								"value": "@concat(variables('FileName'),variables('LastFileDateTime'),'.csv')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Update Silver Layer",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Copy Bronze layer",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Repos/brayan.lemus.q@gmail.com/GB-Azure-API-ETL/databricksProject/TestNotebook",
					"baseParameters": {
						"lastFileDatetime": {
							"value": "@variables('LastFileDateTime')",
							"type": "Expression"
						},
						"table": {
							"value": "@variables('FileName')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set File Execution",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set DateTime Execution",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "FileName",
					"value": {
						"value": "hired_employees",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"LastFileDateTime": {
				"type": "String"
			},
			"FileSystem": {
				"type": "String",
				"defaultValue": "datacontainer"
			},
			"table": {
				"type": "String"
			},
			"FileName": {
				"type": "String"
			}
		},
		"folder": {
			"name": "BronzeAndSilverPipelines"
		},
		"annotations": []
	}
}